<% memo_info = DBconection.run_sql(parse_sql(id: @params[:id], type: 'detail')).first %>
<% DBconection.run_sql(parse_sql(id: @params[:id], type: 'delete')) %>

次のメモを削除しました

<div class="content">
<p><%= sanitizing_text(memo_info['title']) %></p>
<p>
  <% memo_info['content'].split.each do |n| %>
    <%= sanitizing_text(n) %> <br>
  <% end %>
</p></div>

<a href="/">
  <button type="button">TOPへ</button>
</a>
