<% memo_info = parse_memo_detail(@params[:id]) %>
<% delete_memo(@params[:id]) %>

次のメモを削除しました

<div class="content">
<p><%= sanitizing_text(memo_info['title']) %></p>
<p>
  <% memo_info['content'].split.each do |n| %>
    <%= sanitizing_text(n) %></br>
  <% end %>
</p></div>

<a href="/">
  <button type="button">TOPへ</button>
</a>
