<% memo_info = @dbcon.run_sql(DBconection.parse_sql(:detail), [@params['id']]).first %>

<form action="/memos/<%= memo_info['memo_id'] %>" method="post">
  <div class="form-items">
    <div class="form-items__item">
      <input type="text" name="name" value="<%= DBconection.sanitizing_text(memo_info['title']) %>">
      <textarea name="content"><%= DBconection.sanitizing_text(memo_info['content']) %></textarea>
    </div>
    <div class="form-action">
      <input type="hidden" name="_method" value="PUT">
      <button type="submit" class="bottun">変更</button>
    </div>
  </div>
</form>

<a href="/">
  <button type="button">TOPへ</button>
</a>
