<form action="/new" method="get">
  <button type="submit" class="bottun">追加</button>
</form>

<ul><% DBconection.run_sql(parse_sql(type: 'all')).each do |memo| %>
    <li><a href="/show/<%= memo['memo_id'] %>"><%= memo['title'] %></li>
<% end %></ul>
