<a href="/memos">
  <button type="submit" class="bottun">追加</button>
</a>

<ul><% @dbcon.run_sql(DBConnection.choose_sql(:all)).each do |memo| %>
    <li><a href="/memos/<%= memo['memo_id'] %>"><%= sanitizing_text(memo['title']) %></li>
<% end %></ul>
