<form action="/new" method="get">
  <button type="submit" class="bottun">追加</button>
</form>

<ul><% DBconection.run_sql("SELECT * FROM memos").each do |memo| %>
    <li><a href="/show/<%= memo['memo_id'] %>"><%= memo['title'] %></a></li>
<% end %></ul>

