<% memo_info = @dbcon.run_sql(DBconection.parse_sql(:detail), [@params['id']]).first %>

<div class="content">
<p><%= DBconection.sanitizing_text(memo_info['title']) %></p>
<p>
  <% memo_info['content'].split.each do |n| %>
    <%= DBconection.sanitizing_text(n) %><br>
  <% end %>
</p></div>

<table>
<tr>
  <td><a href="/memos/<%= memo_info['memo_id'] %>/edit">
    <button type="submit" class="bottun">変更</button>
  </a></td>
  <td><form action="/memos/<%= memo_info['memo_id'] %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="bottun">削除</button>
  </form></td>
</tr>
</table>

<a href="/">
  <button type="button">TOPへ</button>
</a>
